#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 2px 1px 2px #eee;
}

#navbar-left {
  display: flex;

  
}

#navbar-right a {
  font-family:'Showcase Sans Mini';
  margin-left: 40px; /* Adds spacing between links */
  color: #666;
  cursor: pointer;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  padding-top: 10px;
  font-weight: 400;/* To prevent the navbar from overlapping the content */
}

#button{
  cursor: pointer;
  background-color: rgb(103, 103, 172);
  color: #eee;
  padding: 12px;
}

